body {
    font-family: "Inconsolata", Arial, sans-serif;
    font-weight: 400;
    height: 50%;
    line-height: 1.7;
    color: #333333;
    background:yellow;
    cursor: url("../img/EHBB_Cursor.png"),auto;
  }
.header {
    height: 10%;
    width: 10%;
}

.grid{
    display: grid;
    grid-template-columns: 34% 33% 33%;
    grid-template-rows: auto 50%;
    gap: 1em;
    min-height: 200px;
}
.nested-grid{
    display: grid;
    grid-template-columns: 50% 50%;
}
.nested-grid2{
    display: grid;
    grid-template-columns: 33% 33% 33%; 
}
.container{
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (max-width: 624px){
  .container{
    width: 100%;
    max-width: 100%;
   position:absolute; 
   top: 10%;
  } 
  /*
  .grid{
    display:list-item;
    grid-template-columns: 33% 33% 33%;
    gap: 1em;
    min-height: 200px;
}
.nested-grid{
  display: list-item;
 grid-area: auto;
}
.imglgo{
  width: 23%;
  height: 23%;
  display:block;
margin:auto;
line-height: 10em;
}
.divh{
  display:none;
}

*/

  
 

}
